apiVersion: v1
kind: Service
metadata:
  name: {{ .Slug }}
  labels:
    app.kubernetes.io/name: {{ .Slug }}
    nimbus.io/managed-by: nimbus
spec:
  type: ClusterIP
  ports:
    - port: {{ "{{ .Values.service.port }}" }}
      targetPort: redis
      name: redis
  selector:
    app.kubernetes.io/name: {{ .Slug }}
